@import './access-type.scss';
@import './pagination.scss';

.list-view-container {
  padding: 17px 0px 0px 0px;

  .list-view {
    width: 100%;
    .grid-table thead {
      padding: 4px 0 0;
    }
    .grid-table .first-td {
      padding-left: 21px;
      width: 22%;
    }
    .grid-table .second-td {
      padding-left: 23px;
      width: 25%;
    }
    .grid-table .third-td {
      padding-left: 26px;
      width: 23%;
    }
    .grid-table .fourth-td {
      padding-left: 17px;
      padding-right: 26px;
    }
    .grid-table .first-th {
      padding-left: 21px;
      width: 22%;
    }
    .grid-table .second-th {
      padding-left: 23px;
      width: 25%;
    }
    .grid-table .third-th {
      padding-left: 26px;
      width: 23%;
    }
    .grid-table .fourth-th {
      padding-left: 17px;
      padding-right: 26px;
    }
    .grid-table thead th {
      background-color: #fbfbfd;
      height: 62px;
      align-items: center;
      font-family: Rubik;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7d7c7c;
      cursor: pointer;
      img {
        margin-left: 4px;
      }
      .th-title {
        margin-right: 4px;
      }
    }
    .grid-table thead th:hover .svg-drop-arrow {
      fill: $primary_color;
    }
    .grid-table thead th:hover .th-title {
      color: $primary_color;
    }
    .grid-table tbody tr {
      height: 90px;
      background-color: white;
      font-family: Rubik;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #282828;
    }
    .card-title {
      background-size: cover;
      background-image: url("../../../../../public/assets/images/bg.png"),
        $primary_graident;
      height: 80px;
      padding-left: 16px;
    }
    .card-title h4 {
      color: white;
      font-family: Rubik;
      font-size: 18px !important;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #fff;
    }

    .card-btn {
      max-width: 100%;
      height: 32px;
      margin-left: 8px;
      font-family: Rubik;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #fff;
    }
    .card-text-muted {
      font-family: Rubik;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #9b9b9b;
      margin: 0 0 8px 0;
    }
    .card-text-no-muted {
      font-family: Rubik;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: black;
      margin: 0 0 16px 0;
    }
    .card {
      margin-bottom: 19px;
    }
    .card-body {
      padding: 0 0 14px !important;
    }
    .grid-btn {
      width: 69px;
      height: 32px;
      padding: 8px 12px;
      border-radius: 4px;
      border: solid 1px $secondary_color;
      background-color: $secondary_color;
      font-family: Rubik;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #fff;
    }
    .pagination-conf {
      margin-top: 29px;
      .active-link {
        background-color: #307fc1 !important;
        color: white !important;
      }
    }
    .list-header {
      width: 100%;
      height: 62px;
      padding: 4px 300px 0px 20px;
      background-color: #fbfbfd;
      font-family: Rubik;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7d7c7c;
    }
    .list-item {
      min-width: 100%;
      height: 90px;
      padding: 9px 20px 0px 20px;
      background-color: #fff;
      border-top: solid 1px grey;
    }
  }
  
}
